* {
  margin: 0;
  padding: 0; }

nav img {
  width: 40px;
  animation-name: movimiento;
  animation-iteration-count: infinite;
  animation-duration: 2s; }

nav li {
  margin: 10px;
  padding: 5px;
  list-style: none;
  font-size: 20px; }
  nav li a {
    text-decoration: none; }
    nav li a:hover {
      color: #5C1B21 !important;
      transform: scale(1.2); }

/*ANIMATION*/
@keyframes movimiento {
  25% {
    transform: rotate(45deg); }
  50% {
    transform: translateY(0.7em); } }

main .carta {
  height: 700px; }

main .card {
  margin: 10px; }

/*MEDIAQUERIE*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  header,
  footer {
    flex-direction: column; }
  .row {
    display: flex;
    flex-direction: column; }
  .col-6 {
    width: auto; }
  .col-3 {
    width: auto; }
  .card {
    height: auto !important; }
  .video {
    width: 100%; }
  form {
    display: flex;
    flex-direction: column; } }

/*TABLET*/
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  p {
    font-family: Arial; } }

/*DESKTOP*/
@media only screen and (min-width: 1024px) {
  p {
    font-family: Arial; } }

main div {
  font-weight: bold; }

h1, h2, h3 {
  color: #7E1230;
  font-weight: bold; }

footer p {
  color: #FFAC00;
  font-weight: bold; }

.cat {
  height: 400px;
  margin: 20px; }

.seleccion {
  height: 200px; }

.boton, .boton-enviar, .boton-limpiar {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  border: none;
  margin: 5px; }

.boton-enviar {
  background-color: #0b630b;
  color: white; }

.boton-limpiar {
  background-color: #bd1717;
  color: white; }

header {
  background-image: radial-gradient(#d81674, #ac175f, #440825);
  padding: 0.5rem; }

main {
  background-image: radial-gradient(#dd177781, #a3115883, #5c093183);
  padding: 0.5rem; }

footer {
  background-image: radial-gradient(#d61271c0, #9e0f54cc, #5c0931cc);
  padding: 0.5rem; }

nav {
  background-image: radial-gradient(#e2d6bf, #dfbb78, #e4a530); }

.radial2, table {
  background-image: radial-gradient(#e2ded7, #e0d1b6, #e2bd77); }
