header{
    --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  --bs-bg-opacity: 0.5;
  padding: 0.5rem !important;
  --bs-bg-opacity: 1;
  background-image: $bordoOscuro;
  nav{
    background-image: $doradoOscuro;
    img{
        width: 40px;  
        animation-name: movimiento;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
  }
  li{
    margin: 10px;
    padding: 5px;
    list-style: none;
    font-size: 20px;
    display: inline-block;
  }
  a{
    text-decoration: none;
    &:hover{
        color: red;
    }
}
}
/*ANIMATION*/
@keyframes movimiento {
    25% {
      transform: rotate(45deg);
    }
  
    50% {
      transform: translateY(.7em);
    }
}