main{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    --bs-bg-opacity: 0.5;
    padding: 0.5rem !important;
    --bs-bg-opacity: 1;
    background-image: $bordo;
    div{
        color: #5c0931;
        font-weight: bold;
    }
    .radial2,table{background-image: $doradoClaro}
    .cat{height: 400px;}
    .seleccion {height: 200px;}
}