// VARIABLES COLORES
$bordoOscuro: radial-gradient(#d81674,#ac175f,#440825);
$bordo: radial-gradient(#dd177781,#a3115883,#5c093183);
$bordoClaro: radial-gradient(#d61271c0,#9e0f54cc,#5c0931cc);
$doradoOscuro: radial-gradient(#e2d6bf,#dfbb78,#e4a530);
$doradoClaro: radial-gradient(#e2ded7,#e0d1b6,#e2bd77);