// CLASE BASE

.boton{
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 5px;
}
// EXTENDER CLASE BASE
.boton-enviar{
    @extend .boton;
    background-color: rgb(11, 99, 11);
    color: white;
}
.boton-limpiar{
    @extend .boton;
    background-color: rgb(189, 23, 23);
    color: white;
}